.spi-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  color: rgba(255, 255, 255, 0.65);
  background: #001529;
}

.spi-header__logo {
  background: rgba(255, 255, 255, 0.2);
  margin: 12px 24px 12px 0;
  padding: 8px 10px;
  float: left;
  line-height: initial;
  font-size: 20px;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  >img {
    height: 24px;
    margin-right: 10px;
  }
}
